<div class="container-fluid">
    <h3>投资学院内容管理</h3>
    <p>图片尺寸推荐300x300</p>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-md-1">总方案名</label>
            <div class="col-md-4">
                <input class="form-control" type="text" ng-model="data.title">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1">方案名</label>
            <div class="col-md-6">
                <input class="form-control" type="text" ng-model="data.name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1">方案内容</label>
            <div class="col-md-10">
                <textarea froala ng-model="data.description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1">报价</label>
            <div class="col-md-6">
                <input class="form-control" type="text" ng-model="data.price">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1">图片</label>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="data.photo">
            </div>
            <div class="col-md-2">
                <input type="file" nv-file-select uploader="uploader"/>
            </div>
            <div class="col-md-2">
                <button class="btn btn-default" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">上传图片</button>
            </div>
        </div>
    </form>
    <!--<p>{{data | json}}</p>-->
    <p>
        确认按钮：
        <button class="btn btn-default" ng-click="mainOk()">方案确认添加</button>
    </p>
    <p>
        内容更新按钮：
        <button class="btn btn-default" ng-click="mainUpdate()">方案更新</button>
    </p>
    <h3>方案</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td width="5%">id</td>
            <td width="10%">总方案名</td>
            <td width="10%">方案名</td>
            <td>方案内容</td>
            <td width="5%">报价</td>
            <td>图片</td>
            <td width="10%">操作</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in mainList">
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td>{{item.name}}</td>
            <td ng-bind-html="item.description | to_trusted"></td>
            <td>{{item.price}}</td>
            <td><img ng-src="{{item.photo}}" width="150"></td>
            <td>
                <a ng-click="edit(item)">编辑</a>
                <a ng-click="mainDel(item)">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
