<div class="container-fluid">
	<h3>首页内容管理</h3>
	<form class="form-horizontal">
		<h3>BANNER图(显示4个)</h3>
		<div class="form-group">
			<label class="col-md-1">标题</label>
			<div class="col-md-4">
				<input class="form-control" type="text" ng-model="bannerData.title">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1">描述</label>
			<div class="col-md-6">
				<input class="form-control" type="text" ng-model="bannerData.content">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1">链接</label>
			<div class="col-md-6">
				<input class="form-control" type="text" ng-model="bannerData.link_url">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1">图片</label>
			<div class="col-md-2">
				<input type="file" fileread="bannerData.photo"/>
			</div>
		</div>
		<button class="btn btn-default" ng-click="bannerOk()">确认</button>
		<br>
		<table class="table table-bordered">
			<thead>
			<tr>
				<td>id</td>
				<td>标题</td>
				<td>描述</td>
				<td>链接</td>
				<td>图片</td>
				<td>操作</td>
			</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in bannerList">
					<td>{{item.id}}</td>
					<td>{{item.title}}</td>
					<td>{{item.content}}</td>
					<td>{{item.link_url}}</td>
					<td>{{item.photo}}</td>
					<td><a ng-click="deleteBanner(item)">删除</a></td>
				</tr>
			</tbody>
		</table>
		<hr>
		<h3>公司介绍</h3>
		<div class="form-group">
			<label class="col-md-1">标题</label>
			<div class="col-md-4">
				<input class="form-control" type="text" ng-model="introData.title">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1">描述</label>
			<div class="col-md-6">
				<input class="form-control" type="text" ng-model="introData.content">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1">链接</label>
			<div class="col-md-6">
				<input class="form-control" type="text" ng-model="introData.link_url">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1">图片</label>
			<div class="col-md-2">
				<input type="file" fileread="introData.photo"/>
			</div>
		</div>
		<button class="btn btn-default" ng-click="introOk()">确认</button>
		<br>
		<table class="table table-bordered">
			<thead>
			<tr>
				<td>id</td>
				<td>标题</td>
				<td>描述</td>
				<td>链接</td>
				<td>图片</td>
				<td>操作</td>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="item in introList">
				<td>{{item.id}}</td>
				<td>{{item.title}}</td>
				<td>{{item.content}}</td>
				<td>{{item.link_url}}</td>
				<td>{{item.photo}}</td>
				<td><a ng-click="deleteintro(item)">删除</a></td>
			</tr>
			</tbody>
		</table>
		<hr>
		<h3>大图</h3>
		<div class="form-group">
			<label class="col-md-1">标题</label>
			<div class="col-md-4">
				<input class="form-control" type="text" ng-model="bigImg.title">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1">图片</label>
			<div class="col-md-2">
				<input type="file" ng-model="bigImg.photo"/>
			</div>
		</div>
		<button class="btn btn-default">确认</button>
		<br>
		<table class="table table-bordered">
			<thead>
			<tr>
				<td>标题</td>
				<td>图片</td>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="item in bigImgList">
				<td>{{item.id}}</td>
				<td>{{item.title}}</td>
				<td>{{item.photo}}</td>
				<td><a ng-click="deletebigImg(item)">删除</a></td>
			</tr>
			</tbody>
		</table>
		<hr>
		<h3>图文介绍</h3>
		<div class="form-group">
			<label class="col-md-1">标题</label>
			<div class="col-md-4">
				<input class="form-control" type="text" ng-model="picText.title">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1">描述</label>
			<div class="col-md-6">
				<input class="form-control" type="text" ng-model="picText.content">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1">链接</label>
			<div class="col-md-6">
				<input class="form-control" type="text" ng-model="picText.link_url">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1">图片</label>
			<div class="col-md-2">
				<input type="file" fileread="picText.photo"/>
			</div>
		</div>
		<button class="btn btn-default" ng-click="picTextOk()">确认</button>
		<br>
		<table class="table table-bordered">
			<thead>
			<tr>
				<td>id</td>
				<td>标题</td>
				<td>描述</td>
				<td>链接</td>
				<td>图片</td>
				<td>操作</td>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="item in picTextList">
				<td>{{item.id}}</td>
				<td>{{item.title}}</td>
				<td>{{item.content}}</td>
				<td>{{item.link_url}}</td>
				<td>{{item.photo}}</td>
				<td><a ng-click="deletePicText(item)">删除</a></td>
			</tr>
			</tbody>
		</table>
		<hr>
		<h3>底部图文</h3>
		<div class="form-group">
			<label class="col-md-1">标题</label>
			<div class="col-md-4">
				<input class="form-control" type="text" ng-model="bottom.title">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1">描述</label>
			<div class="col-md-6">
				<input class="form-control" type="text" ng-model="bottom.content">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1">链接</label>
			<div class="col-md-6">
				<input class="form-control" type="text" ng-model="bottom.link_url">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1">图片</label>
			<div class="col-md-2">
				<input type="file" fileread="bottom.photo"/>
			</div>
		</div>
		<button class="btn btn-default" ng-click="bottomOk()">确认</button>
		<br>
		<table class="table table-bordered">
			<thead>
			<tr>
				<td>id</td>
				<td>标题</td>
				<td>描述</td>
				<td>链接</td>
				<td>图片</td>
				<td>操作</td>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="item in bottomList">
				<td>{{item.id}}</td>
				<td>{{item.title}}</td>
				<td>{{item.content}}</td>
				<td>{{item.link_url}}</td>
				<td>{{item.photo}}</td>
				<td><a ng-click="deleteBottom(item)">删除</a></td>
			</tr>
			</tbody>
		</table>
		<hr>
		<h3>内容编辑</h3>
		<textarea froala ng-model="myHtml"></textarea>
		{{myHtml}}
	</form>
</div>
