<div class="container-fluid">
	<h3>产品内容管理</h3>
	<form class="form-horizontal">
		<div class="form-group">
			<label class="col-md-1">标题</label>
			<div class="col-md-4">
				<input class="form-control" type="text" ng-model="data.title">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1">描述</label>
			<div class="col-md-6">
				<input class="form-control" type="text" ng-model="data.content">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1">描述（多行模式）</label>
			<div class="col-md-10">
				<textarea froala ng-model="data.content"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1">链接</label>
			<div class="col-md-6">
				<input class="form-control" type="text" ng-model="data.link_url">
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-1">图片</label>
			<div class="col-md-2">
				<input type="file" fileread="data.photo"/>
			</div>
		</div>
	</form>
	<p>
		<button class="btn btn-default" ng-click="bannerOk()">banner确认</button>
		<button class="btn btn-default" ng-click="introOk()">内容确认</button>
	</p>
	<h3>BANNER图(显示4个)</h3>
	<table class="table table-bordered">
		<thead>
		<tr>
			<td>id</td>
			<td>标题</td>
			<td>描述</td>
			<td>链接</td>
			<td>图片</td>
			<td>操作</td>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="item in bannerList">
			<td>{{item.id}}</td>
			<td>{{item.title}}</td>
			<td>{{item.content}}</td>
			<td>{{item.link_url}}</td>
			<td>{{item.photo}}</td>
			<td>
				<a ng-click="bannerUpdate(item)">编辑</a>
				<a ng-click="bannerDel(item)">删除</a>
			</td>
		</tr>
		</tbody>
	</table>
	<hr>
	<h3>内容介绍</h3>
	<table class="table table-bordered">
		<thead>
		<tr>
			<td>id</td>
			<td>标题</td>
			<td>描述</td>
			<td>链接</td>
			<td>图片</td>
			<td>操作</td>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="item in introList">
			<td>{{item.id}}</td>
			<td>{{item.title}}</td>
			<td>{{item.content}}</td>
			<td>{{item.link_url}}</td>
			<td>{{item.photo}}</td>
			<td>
				<a ng-click="contentUpdate(item)">编辑</a>
				<a ng-click="contentDel(item)">删除</a>
			</td>
		</tr>
		</tbody>
	</table>
	<hr>
</div>
