<div class="container-fluid">
    <h3>新闻管理</h3>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-md-1">标题</label>
            <div class="col-md-6">
                <input class="form-control" type="text" ng-model="data.title">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1">内容</label>
            <div class="col-md-10">
                <textarea froala ng-model="data.content"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1">图片</label>
            <div class="col-md-2">
                <input type="file" fileread="data.photo"/>
            </div>
        </div>
    </form>
    <!--<p>{{data | json}}</p>-->
    <p>
        <button class="btn btn-default" ng-click="companyOk()">公司动态确认添加</button>
        <button class="btn btn-default" ng-click="newsOk()">公司新闻确认添加</button>
        <button class="btn btn-default" ng-click="industryOk()">行业动态确认添加</button>
    </p>
    <p>
        <button class="btn btn-default" ng-click="companyUpdate()">公司动态更新</button>
        <button class="btn btn-default" ng-click="newsUpdate()">公司新闻更新</button>
        <button class="btn btn-default" ng-click="industryUpdate()">行业动态更新</button>
    </p>
    <h3>公司动态</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td width="5%">id</td>
            <td>内容</td>
            <td width="10%">操作</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in companyList">
            <td>{{item.id}}</td>
            <td ng-bind-html="item.content | to_trusted"></td>
            <td>
                <a ng-click="edit(item)">编辑</a>
                <a ng-click="companyDel(item)">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
    <hr>
    <h3>公司新闻</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td width="5%">id</td>
            <td width="10%">标题</td>
            <td>内容</td>
            <td width="10%">操作</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in newsList">
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td ng-bind-html="item.content | to_trusted"></td>
            <td>
                <a ng-click="edit(item)">编辑</a>
                <a ng-click="newsDel(item)">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
    <hr>
    <h3>行业新闻</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td width="5%">id</td>
            <td width="10%">标题</td>
            <td>内容</td>
            <td>图片</td>
            <td width="10%">操作</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in industryList">
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td ng-bind-html="item.content | to_trusted"></td>
            <td>{{item.photo}}</td>
            <td>
                <a ng-click="edit(item)">编辑</a>
                <a ng-click="industryDel(item)">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
